body {
    margin: 0;
}

* {
    font-size: inherit;
    font-family: inherit;
}

#main_container {
    margin: 0;
    padding: 0;
    height: 90%;
    background: #e4e4e4;
}

#settings_container {
    background: rgb(143, 143, 143);
    height: 30%;
}

#form_container {
    height: 100%;
    width: 50%;
    background: rgb(127, 255, 161);
    float: left;
}

#url_list_container {
    height: 100%;
    width: 50%;
    background: rgb(0, 149, 255);
    float: right;
}

#url_list_container {
    height: 100%;
    width: 50%;
    background: rgb(0, 149, 255);
    float: right;
}

#url_list {
    border-radius:10px;
    border: 1px solid grey;
    padding: 3px;
    margin: 35px 30px;
    width: 80%;
    outline: none;
}

.url_list_element {
    margin-top: 1px;
}

.url_list_element:hover {
    background: none;
}

form {
    float: right;
    width: 60%;
    margin: 35px auto;
}

.form_input {
    width: 80%;
    border-radius:10px;
    border: 1px solid grey;
    margin: 3px auto;
    padding: 10px;
    display: block;
}

#add_button {
    margin-left: 44px;
    width: 48%;
    float: left;
    overflow: hidden;
}

#start_button {
    margin-left: 6px;
    overflow: hidden;
    width: 35%;
    float: left;
}

button:hover {
    background: lightgray;
}

#slide_container {
    height: 80%;
    background: rgb(255, 136, 0);
}

iframe {
    width: 50%;
    height: 95%;
    border: none;
    margin: 10px 370px;
}